After=network.target
Description=Start Smart Pump service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /root/smartPumpEdge/EdgeConnect.py
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
